.input {
  @apply w-full rounded-md
    border border-input
    bg-transparent
    px-3 py-2
    text-sm
    text-foreground
    placeholder:text-muted-foreground
    focus:outline-none
    focus:ring-2 focus:ring-ring;
}
