@use "../styles/variables" as *;

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 72px;
}

.header__user {
	color: var(--omkraft-white);
	font-size: 14px;
	opacity: 0.85;
}

.header__logo {
	height: 48px;

	@media (min-width: 768px) {
		height: 56px;
	}

	@media (min-width: 1280px) {
		height: 64px;
	}
}
