name: PR Title Check

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

permissions:
  pull-requests: read
  contents: read

jobs:
  pr-title:
    uses: Omkraft/.github/.github/workflows/pr-title.yml@main
